name: TCache-Master

on:
  push:
    branches: [ master ]

jobs:
  build:
    # run on ubuntu
    runs-on: ubuntu-latest
    
    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379

    steps:
    - uses: actions/checkout@v2    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
    - name: Install CodeCov.Tool
      run: dotnet tool install -g Codecov.Tool
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      env:
        TEST_REDIS_URI: localhost:6379
    - name: Report Coverage
      uses: codecov/codecov-action@v1
      with:
        file: ./TCache.Tests/TestResults/**/coverage.cobertura.xml
